.App {
  text-align: center;
}

.bg-purple{
  background-color: #974fd0 !important
}

.tc-purple{
  color: #974fd0 !important
}

.tc-white{
  color: white !important
}

.all-tasks, .each-task{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.above-task{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.each-task{
  border: 1px solid gray;
}

form > div {
  position: relative;
}

form label{
  position: absolute;
  color: gray;
  left: 30px;
  top: -12px;
  background-color: white;
  padding: 0 10px;
}

form{
  width: 90%;
  max-width: 600px;
  margin: 40px auto;
}



.cont{
  display: flex;
  justify-content: space-between;
}
.n-link{
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin: 15px 20px;
}

.nav-img{
  width: 50px;
  margin: 0 auto;
}


@media (min-width: 992px){
  .n-space{
    margin-left: 65%;
  }
}
